<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

{% seo %}
  </head>
  <style>
    @import "{{ site.theme }}";

    .btn-linkedin  .icon {
    opacity: 0.6;
    background: url("/assets/logos/In-Blue-40.png") 0 0 no-repeat;
    background-size: contain;
    }


    .btn-medium  .icon {
    opacity: 0.6;
    background: url("/assets/logos/medium-seeklogo.svg") 0 0 no-repeat;
    background-size: contain;
    }

  </style>
  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.external.github }}" class="btn btn-github" target="_blank"><span class="icon"></span>View on GitHub</a>
          <a href="{{ site.external.linkedin }}" class="btn btn-linkedin" target="_blank"><span class="icon"></span>Find me on linkedin</a>
          <a href="{{ site.external.medium }}" class="btn btn-medium" target="_blank"><span class="icon"></span> Read on Medium</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>